.title
{
    font-weight: bold;
    font-size: 40px;
}

.h2{
    font-weight: bold;
    font-size: 25px;
}

.font
{
    font-family:'Times New Roman', Times, serif;
}

li{
    font-family: 'Times New Roman', Times, serif;
}


